[programming]
# Name of the course
name = "Introduction to programming"
# CSV Export file from Bightspace, with all students of your class, along with each of the group they have joined.
dlo_class_export_csv = resources/Web Frameworks DT 20252026_AllGroups_20250905091127.csv
# Group Id in Gitlab, where you want to create repositories for each team
students_group_id = <gilab group id>
# A base url for your gitlab instance.
base_project_url = git@gitlab.fdmci.hva.nl:WEF/teamxx.git
# Local directory where you want to store the checked out repositories
local_teams_dir = /home/gerbrand/workspace/HvA/WEF/teams


